body {
    background-color: rgb(236, 236, 236);
}

h1 {
    color :white;
    background-color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color:navy;
    background-color:aquamarine;
    border-radius: 5px;
}
